*{
    margin: 0;
    padding: 5px 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;
    font-size: 20px;
}
.navbar img{
    cursor: pointer;
}

.nav-items h5{
    cursor: pointer;
    display: inline;
    padding: 20px 50px;
}

.nav-items h5:hover{
    font-size: 20px;
    color: orangered;
}

.intro-section{
    display: flex;
}

.left-section h3{
    font-size: 30px;
    font-family: poppins;
}
.left-section h1{
    font-size: 60px;
    font-family: "Fredoka one";
}
.sub-headlines h5{
   padding: 10px 0;
   font-size: 20px;
   font-family: poppins;
   font-weight: lighter;
   
}
.sub-headlines img{
   position: relative;
   cursor: pointer;
   top: 10px;
   left: 15px;
}

.text{
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: poppins;
    font-size: 15px;
}

.action-btns button:nth-child(1){
    padding-right: 30px;
}

.action-btn{
    cursor: pointer;
    padding: 10px 25px;
    background-color: orangered;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: lighter;
    font-family: poppins;
    color: #fff;
}
.discount{
    width: 150px;
    position: relative;
    bottom: 200px;
    right:50px;
}

.discount-content{
    position: relative;
    bottom: 330px;
    right:25px; 
    font-family: poppins;
    color: #fff;
    
}

.right-section button{
    cursor: pointer;
    padding: 10px 25px;
    position: relative;
    bottom: 360px;
    left: 150px;
}

.dot-yellow-dot{
    position: relative;
    bottom: 280px;
    left: 110px;
}

.dot-tomato-dot{
    position: relative;
    bottom: 325px;
    left: 160px;
}

.dot-black-dot{
    position: relative;
    bottom: 370px;
    left: 200px;
}