*{
    padding: 5px 15px;
    box-sizing: border-box;
    font-family: poppins;
}

/*navbar container*/

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container li{
    font-size: 20px;
    display: inline;
    float: left;
    position: relative;
    right: 200px;
    padding: 10px 30px 30px 0px ;
    cursor: pointer;
    color: #C7badd;
}


.navbar-container li:hover{
    color: #000;
}

.navbar-container img{
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
  
.nav-button{
    font-size: 20px;
    border-radius: 15px;
    border: none;
    padding: 15px 30px;
    background-color: blue;
    color: #fff;
}
/*banner container*/
.banner-container{
    display: flex;
}

.heading-text{
    padding-top: 50px;
    font-size: 50px;
    color:#4D00A3;
}

span{
    color: #8A8AFF;
}

.description{
    font-size: 15px;
    color:#c7badd;
    padding-bottom: 50px;
}


.nav-button-btn{
    padding: 20px 20px;
    font-size: 20px;
    background-color:#4267B2 ;
    color: #fff;
    border-radius: 20px;
    border: none;
}